<span class="font-playwrite text-4xl md:text-5xl mb-8 text-amber-600">Things I've built</span>

<table class="mt-12">
    <tr>
        <th class="hidden xl:block">Year</th>
        <th>Project Name</th>
        <th>Company</th>
        <th class="text-right hidden xl:block">Built with</th>
    </tr>

    <!-- MyCro -->
    <tr id="mycro" class="font-bold">
        <td nowrap class="hidden xl:block">2019 - 2024</td>
        <td nowrap>MyCro (Green Flag)</td>
        <td>Direct Line Group</td>
        <td class="text-right hidden xl:block">Angular 12</td>
    </tr>
    <tr>
        <td class="hidden xl:block"></td>
        <td colspan="3" class="pb-24">
            "MyCro" is Green Flag's new call centre app where agents can manage customer accounts, log rescues, process
            claims and generate quotes. It was built as part of a 5 year digital transformation programme to revitalise
            the business by improving the experience for both customers and agents, reduce call centre costs, and get
            rid of the legacy green screen system.

            <h4 class="mt-4 font-bold">Key Features:</h4>
            <ul class="list-disc list-inside">
                <li>Integration of over 50 internal microservices</li>
                <li>Integration of Stripe and Google Maps APIs</li>
                <li>Authentication and Authorization with AWS Cognito</li>
                <li>Role based access control</li>
                <li>Polling systems to detect phone call status</li>
                <li>Payment processing with Stripe</li>
                <li>Continuous payment management</li>
                <li>Address search with Google Maps</li>
                <li>Motorway junction lookup</li>
                <li>Vehicle lookup with DVLA</li>
            </ul>

            <h4 class="mt-4 font-bold">Core Skills:</h4>
            Angular 12, Typescript, RxJS, Material, HTML, CSS, Jasmine, Cucumber, Cypress.

            <hr class="my-6 lg:my-12" />

            <div class="grid grid-cols-2 lg:grid-cols-3 gap-4 mt-8">
                <img src="assets/images/mycro-1.png" alt="MyCro" />
                <img src="assets/images/mycro-2.png" alt="MyCro" />
                <img src="assets/images/mycro-3.png" alt="MyCro" />
                <img src="assets/images/mycro-4.png" alt="MyCro" />
                <img src="assets/images/mycro-5.png" alt="MyCro" />
                <img src="assets/images/mycro-6.png" alt="MyCro" />
            </div>
        </td>
    </tr>

    <!-- Vanguard -->
    <tr id="vanguard" class="font-bold">
        <td nowrap class="hidden xl:block">2022</td>
        <td nowrap>vanguardinvestor.co.uk</td>
        <td>Vanguard</td>
        <td class="text-right hidden xl:block">Angular 12</td>
    </tr>
    <tr>
        <td class="hidden xl:block"></td>
        <td colspan="3" class="pb-24">
            Part of a small, cross-functional team that migrated the Vanguard UK site from AngularJS to Angular 13. The
            new site was re-constructed using an NX mono-repo, and consisted of NestJs endpoints, GraphQL queries, and
            new UI components. Content was extracted from an old CMS and rebuilt using a custom JSON format and
            displayed using components from the mono-repo.

            <h4 class="mt-4 font-bold">Key Features:</h4>
            <ul class="list-disc list-inside">
                <li>Migration from AngularJS to Angular 12</li>
                <li>NX mono-repo</li>
                <li>NestJs endpoints</li>
                <li>GraphQL queries</li>
                <li>Custom JSON content format</li>
            </ul>

            <h4 class="mt-4 font-bold">Core Skills:</h4>
            Angular 12, Typescript, RxJS, Material, HTML, CSS, Jasmine, Cucumber, Cypress.

            <hr class="my-6 lg:my-12" />

            <div class="grid grid-cols-2 lg:grid-cols-3 gap-4 mt-8">
                <img src="assets/images/vanguard-1.png" alt="Vanguard" />
                <img src="assets/images/vanguard-3.png" alt="Vanguard" />
                <img src="assets/images/vanguard-4.png" alt="Vanguard" />
                <img src="assets/images/vanguard-8.png" alt="Vanguard" class="row-span-2" />
                <img src="assets/images/vanguard-5.png" alt="Vanguard" />
                <img src="assets/images/vanguard-6.png" alt="Vanguard" />
                <img src="assets/images/vanguard-9.png" alt="Vanguard" />
            </div>
        </td>
    </tr>

    <!-- Self-Servicing Site -->
    <tr id="servicing" class="font-bold">
        <td nowrap class="hidden xl:block">2018</td>
        <td nowrap>Self-Servicing Site</td>
        <td>Direct Line Group</td>
        <td class="text-right hidden xl:block">Angular 4</td>
    </tr>
    <tr>
        <td class="hidden xl:block"></td>
        <td colspan="3" class="pb-24">
            The "Servicing" app allows customers to make changes to their policies without having to speak to an agent.
            The app was skinned for each of DLGs core brands: Direct Line, Churchill, Privilege & Green Flag. If any
            changes required payment they would be redirected to a live chat system where agents would handle the
            payment.

            <h4 class="mt-4 font-bold">Key Features:</h4>
            <ul class="list-disc list-inside">
                <li>Skinned for each of DLGs core brands</li>
                <li>Integrated with live chat for payment</li>
                <li>Pre-defined prompts for agents to use in chat</li>
            </ul>

            <h4 class="mt-4 font-bold">Core Skills:</h4>
            Angular 4, Typescript, HTML, CSS, Forms.

            <h4 class="mt-10 mb-4 font-bold">Direct Line: Add Financial Party Form</h4>
            <hr />
            <div class="grid grid-cols-2 lg:grid-cols-3 gap-4 mt-8">
                <img src="assets/images/amends.directline-1.png" alt="Direct Line Servicing App" />
                <img src="assets/images/amends.directline-2.png" alt="Direct Line Servicing App" />
                <img src="assets/images/amends.directline-3.png" alt="Direct Line Servicing App" />
                <img src="assets/images/amends.directline-4.png" alt="Direct Line Servicing App" />
            </div>

            <h4 class="mt-10 mb-4 font-bold">Green Flag: Change of Vehicle Form</h4>
            <hr />
            <div class="grid grid-cols-2 lg:grid-cols-3 gap-4 mt-8">
                <img src="assets/images/amends.greenflag-2.png" alt="Green Flag Servicing App" />
                <img src="assets/images/amends.greenflag-3.png" alt="Green Flag Servicing App" />
                <img src="assets/images/amends.greenflag-4.png" alt="Green Flag Servicing App" />
                <img src="assets/images/amends.greenflag-5.png" alt="Green Flag Servicing App" />
            </div>
        </td>
    </tr>

    <!-- Charles Tyrwhitt -->
    <tr id="charles" class="font-bold">
        <td nowrap class="hidden xl:block">2017</td>
        <td nowrap>charlestyrwhitt.com</td>
        <td>Charles Tyrwhitt</td>
        <td class="text-right hidden xl:block">JavaScript, .Net, HTML, SCSS</td>
    </tr>
    <tr>
        <td class="hidden xl:block"></td>
        <td colspan="3" class="pb-24">
            Charlestyrwhitt.com is a fully featured e-commerce site built using JavaScript, .Net, HTML and SCSS. My role
            was to update the design and flow of the checkout pages, and add new functionality by integrating with 3rd
            party services.

            <h4 class="mt-4 font-bold">Key Features:</h4>
            <ul class="list-disc list-inside">
                <li>Fully featured e-commerce site</li>
                <li>Integration with 3rd party services</li>
                <li>Responsive design</li>
                <li>Customer admin area</li>
            </ul>

            <h4 class="mt-4 font-bold">Core Skills:</h4>
            JavaScript, .Net, HTML, SCSS.

            <hr class="my-6 lg:my-12" />

            <div class="grid grid-cols-2 lg:grid-cols-4 gap-4 mt-8">
                <img src="assets/images/charles-1.png" alt="Charles Tyrwhitt" />
                <img src="assets/images/charles-2.png" alt="Charles Tyrwhitt" />
                <img src="assets/images/charles-4.png" alt="Charles Tyrwhitt" />
                <img src="assets/images/charles-5.png" alt="Charles Tyrwhitt" />
                <img src="assets/images/charles-6.png" alt="Charles Tyrwhitt" />
                <img src="assets/images/charles-7.png" alt="Charles Tyrwhitt" />
                <img src="assets/images/charles-9.png" alt="Charles Tyrwhitt" />
                <img src="assets/images/charles-10.png" alt="Charles Tyrwhitt" />
            </div>
        </td>
    </tr>

    <!-- Brand Partners -->
    <tr id="brand-partners" class="font-bold">
        <td nowrap class="hidden xl:block">2017</td>
        <td nowrap>Brand Partners</td>
        <td>Direct Line Group</td>
        <td class="text-right hidden xl:block">AngularJS, HTML, SCSS</td>
    </tr>
    <tr>
        <td class="hidden xl:block"></td>
        <td colspan="3" class="pb-24">
            "Brand Partners" was a rebuild of the Home Insurance “Quote and Buy” journeys for NatWest & Royal Bank of
            Scotland. The site was built as a white label app using AngularJS and was skinnable for multiple brands.
            Each site consisted of 2 versions: a public version for customers, and an internal version for bank staff
            which had to support Internet Explorer. Accessibility was one of the most important features of the site,
            and it was voted the most accessible insurance site by E-Benchmarkers at the time.

            <h4 class="mt-4 font-bold">Key Features:</h4>
            <ul class="list-disc list-inside">
                <li>Accessibility</li>
                <li>Responsive design</li>
                <li>Skinnable for multiple brands</li>
                <li>IE support</li>
            </ul>

            <h4 class="mt-4 font-bold">Core Skills:</h4>
            AngularJS, HTML, CSS/SCSS, Accessibility.

            <p class="mt-4">
                <strong>Link: </strong>
                <a href="https://homeinsurance.natwest.com/online/help-me-choose" target="_blank">
                    https://homeinsurance.natwest.com/online/help-me-choose
                </a>

                <br /><strong>Link: </strong>
                <a href="https://homeinsurance.rbs.co.uk/online/help-me-choose" target="_blank">
                    https://homeinsurance.rbs.co.uk/online/help-me-choose
                </a>
            </p>

            <hr class="my-6 lg:my-12" />

            <div class="grid grid-cols-2 lg:grid-cols-4 gap-4 mt-8">
                <img src="assets/images/rbs-1.png" alt="Royal Bank of Scotland" />
                <img src="assets/images/rbs-2.png" alt="Royal Bank of Scotland" />
                <img src="assets/images/rbs-3.png" alt="Royal Bank of Scotland" />
                <img src="assets/images/rbs-4.png" alt="Royal Bank of Scotland" />
            </div>
        </td>
    </tr>

    <!-- Privilege.com -->
    <tr id="privilege" class="font-bold">
        <td nowrap class="hidden xl:block">2016</td>
        <td nowrap>Privilege.com</td>
        <td>Direct Line Group</td>
        <td nowrap class="text-right hidden xl:block">HTML, SCSS, JavaScript</td>
    </tr>
    <tr>
        <td class="hidden xl:block"></td>
        <td colspan="3" class="pb-24">
            I was the lead developer in a small team on this total rebuild and rebrand for
            <a href="https://www.privilege.com" target="_blank">Privilege.com</a>. The build was turned around in just a
            few months to provide a brand new responsive experience for customers. The development stack on this project
            was then used as the “gold standard” for the rest of DLG Digital. This was the first DLG site to use a
            static site generator, Foundation 6 and Gulp.

            <p>
                As part of the deployment process, we added image generation for key display sizes. These images were
                then compared with images from previous deployments to check the layout had not been unintententionally
                broken.
            </p>

            <h4 class="mt-4 font-bold">Key Features:</h4>
            <ul class="list-disc list-inside">
                <li>Fully responsive site</li>
                <li>Brand new design</li>
                <li>Image comparison with previous deployemnts</li>
            </ul>

            <h4 class="mt-4 font-bold">Core Skills:</h4>
            HTML, CSS/SCSS, JavaScript, Foundation framework, Handlebars, Gulp.

            <p class="mt-4">
                <strong>Link: </strong>
                <a href="https://www.privilege.com" target="_blank">https://www.privilege.com</a>
            </p>

            <hr class="my-6 lg:my-12" />

            <div class="grid grid-cols-2 lg:grid-cols-4 gap-4 mt-8">
                <img src="assets/images/privilege-1.jpg" alt="Privilege.com" />
                <img src="assets/images/privilege-2.jpg" alt="Privilege.com" />
                <img src="assets/images/privilege-3.jpg" alt="Privilege.com" />
                <img src="assets/images/privilege-4.jpg" alt="Privilege.com" />
            </div>
        </td>
    </tr>

    <!-- Greenflag.com -->
    <tr id="greenflag" class="font-bold">
        <td nowrap class="hidden xl:block">2016</td>
        <td nowrap>Greenflag.com</td>
        <td>Direct Line Group</td>
        <td nowrap class="text-right hidden xl:block">HTML, SCSS, JavaScript.</td>
    </tr>
    <tr>
        <td class="hidden xl:block"></td>
        <td colspan="3" class="pb-24">
            Lead developer of a small team which built a new mobile friendly and SEO optimised site for Green Flag. New
            features included a Journey Planner that was integrated with Google Maps and a blog area, with new and
            existing articles that had been moved from Wordpress.

            <h4 class="mt-4 font-bold">Key Features:</h4>
            <ul class="list-disc list-inside">
                <li>Mobile first design</li>
                <li>Google Route planner integration</li>
                <li>SEO friendly</li>
            </ul>

            <h4 class="mt-4 font-bold">Core Skills:</h4>
            HTML, CSS/SCSS, JavaScript.

            <p class="mt-4">
                <strong>Link: </strong>
                <a href="https://www.greenflag.com" target="_blank">https://www.greenflag.com</a>
            </p>

            <hr class="my-6 lg:my-12" />

            <div class="grid grid-cols-2 lg:grid-cols-5 gap-4 mt-8">
                <img src="assets/images/greenflag-1.jpg" alt="Green Flag" />
                <img src="assets/images/greenflag-2.jpg" alt="Green Flag" />
                <img src="assets/images/greenflag-3.jpg" alt="Green Flag" />
                <img src="assets/images/greenflag-4.jpg" alt="Green Flag" class="row-span-2" />
                <img src="assets/images/greenflag-5.png" alt="Green Flag" />
            </div>
        </td>
    </tr>

    <!-- Directline.com -->
    <tr id="directline" class="font-bold">
        <td nowrap class="hidden xl:block">2016</td>
        <td nowrap>Directline.com</td>
        <td>Direct Line Group</td>
        <td nowrap class="text-right hidden xl:block">HTML, SCSS, JavaScript.</td>
    </tr>
    <tr>
        <td class="hidden xl:block"></td>
        <td colspan="3" class="pb-24">
            A large rebrand for the main Direct Line site. The old site had been built using a CMS (CQ5) which was no
            longer fit for purpose. The new site was built from scratch by a squad of 12 developers using HTML, CSS/SCSS
            and JavaScript, and replaced the old site in just 3 months.

            <h4 class="mt-4 font-bold">Key Features:</h4>
            <ul class="list-disc list-inside">
                <li>Responsive design</li>
                <li>SEO Optimised</li>
                <li>Modern design</li>
                <li>Static site generator</li>
            </ul>

            <h4 class="mt-4 font-bold">Core Skills:</h4>
            HTML, CSS/SCSS, JavaScript, Gulp, Handlebars.

            <p class="mt-4">
                <strong>Link: </strong>
                <a href="https://www.directline.com" target="_blank">https://www.directline.com</a>
            </p>

            <hr class="my-6 lg:my-12" />

            <div class="grid grid-cols-2 lg:grid-cols-4 gap-4 mt-8">
                <img src="assets/images/magazine-1.png" alt="Direct Line" />
                <img src="assets/images/magazine-2.png" alt="Direct Line" />
                <img src="assets/images/magazine-3.png" alt="Direct Line" />
                <img src="assets/images/magazine-4.png" alt="Direct Line" />
            </div>
        </td>
    </tr>

    <!-- Mergermarket -->
    <tr id="mergermarket" class="font-bold">
        <td nowrap class="hidden xl:block">2014</td>
        <td nowrap>Mergermarket.com</td>
        <td>Mergermarket</td>
        <td class="text-right hidden xl:block">.Net & Classic ASP</td>
    </tr>
    <tr>
        <td class="hidden xl:block"></td>
        <td colspan="3" class="pb-24">
            Mergermarket is part of the FT Group delivering market leading insights into M&A. This was a re-skin of 3
            product sites to form a consistent visual journey across each product. Two of the sites were legacy
            applications written in Classic ASP, and one was built using C#.Net.

            <h4 class="mt-4 font-bold">Core Skills:</h4>
            HTML, CSS, JavaScript, JQuery, Classic ASP, .Net.

            <p class="mt-4">
                <strong>Link: </strong>
                <a href="https://www.mergermarket.com" target="_blank">https://www.mergermarket.com</a>
            </p>

            <hr class="my-6 lg:my-12" />

            <div class="grid grid-cols-2 lg:grid-cols-4 gap-4 mt-8">
                <img src="assets/images/mergermarket-1.png" alt="Mergermarket" />
                <img src="assets/images/mergermarket-2.png" alt="Mergermarket" />
                <img src="assets/images/mergermarket-3.png" alt="Mergermarket" />
                <img src="assets/images/mergermarket-4.png" alt="Mergermarket" />
            </div>
        </td>
    </tr>

    <!-- Domusnova.com -->
    <tr id="domusnova" class="font-bold">
        <td nowrap class="hidden xl:block">2013</td>
        <td nowrap>Domusnova.com</td>
        <td>Studi N3rd</td>
        <td class="text-right hidden xl:block">.Net & SQL Server</td>
    </tr>
    <tr>
        <td class="hidden xl:block"></td>
        <td colspan="3" class="pb-24">
            Added new functionality to this luxury property portal whilst at Studio N3rd. The site was built using
            ASP.Net (VB) & SQL Server.

            <h4 class="mt-4 font-bold">Key Features:</h4>
            <ul class="list-disc list-inside">
                <li>Drag and drop image upload</li>
                <li>Hi-res photo and video</li>
                <li>Debugging & fixing errors</li>
            </ul>

            <h4 class="mt-4 font-bold">Core Skills:</h4>
            HTML, CSS, JavaScript, ASP.Net (VB), SQL Server.

            <p class="mt-4">
                <strong>Link: </strong>
                <a href="https://www.domusnova.com" target="_blank">https://www.domusnova.com</a>
            </p>

            <hr class="my-6 lg:my-12" />

            <div class="grid grid-cols-2 lg:grid-cols-4 gap-4 mt-8">
                <img src="assets/images/domusnova-1.png" alt="Domus Nova" />
                <img src="assets/images/domusnova-4.png" alt="Domus Nova" />
                <img src="assets/images/domusnova-3.png" alt="Domus Nova" />
                <img src="assets/images/domusnova-2.png" alt="Domus Nova" />
            </div>
        </td>
    </tr>

    <!-- Needapresent.com -->
    <tr id="needapresent" class="font-bold">
        <td nowrap class="hidden xl:block">2000 - 2013</td>
        <td nowrap>E-Commerce Site</td>
        <td>Needapresent.com</td>
        <td class="text-right hidden xl:block">.Net & SQL Server</td>
    </tr>
    <tr>
        <td class="hidden xl:block"></td>
        <td colspan="3" class="pb-24">
            <p>
                Ecommerce site for personalised gifts. I was the sole developer and co-founder of this e-commerce gift
                site serving over 2M visitors p/a. We handled over 20,000 transactions a year and a catalogue of over
                500 products. Many items were personalised and had multiple variants/options.
            </p>

            <p class="mt-4">
                The site was initially built using Classic ASP & SQL Server, and later upgraded to ASP.Net (VB). Payment
                services were provided by Worldpay and integrated using XML. A custom admin site enabled staff to print,
                process & despatch orders. Export files could be generated in several formats and emailed to suppliers.
                Stock & products could be managed easily and customer queries were logged and recorded.
            </p>

            <h4 class="mt-4 font-bold">Key Features:</h4>
            <ul class="list-disc list-inside">
                <li>Fully fledged e-commerce site</li>
                <li>SQL Server database</li>
                <li>Payment integration with Worldpay</li>
                <li>Custom admin site for handling orders and products</li>
            </ul>

            <h4 class="mt-4 font-bold">Core Skills:</h4>
            HTML, CSS, JavaScript, VB / ASP.Net, SQL, IIS, E-commerce, Worldpay.

            <hr class="my-6 lg:my-12" />

            <div class="grid grid-cols-4 gap-4 mt-8">
                <img src="assets/images/needapresent-1.png" alt="Needapresent.com" />
                <img src="assets/images/needapresent-2.png" alt="Needapresent.com" />
                <img src="assets/images/needapresent-3.png" alt="Needapresent.com" />
                <img src="assets/images/needapresent-4.png" alt="Needapresent.com" />
            </div>
        </td>
    </tr>

    <tr id="tmsdi" class="font-bold">
        <td nowrap class="hidden xl:block">2013</td>
        <td nowrap>TMSDI.com</td>
        <td>TMSDI</td>
        <td class="text-right hidden xl:block">.Net and SQL Server</td>
    </tr>
    <tr>
        <td class="hidden xl:block"></td>
        <td colspan="3" class="pb-24">
            Total rebuild of the e-commerce site to help increase bookings and enquiries for HR company, TMSDI. After an
            initial UX/UI consultation, 3 separate sites were merged into 1 mobile friendly, responsive site with a
            simple CMS to manage it all. Enquiries tripled after the re-design. I have since built other sites for
            TMSDI, including several iterations of their marketing site, an online profiling tool with e-commerce and
            multi-lingual functionality, and interactive training material using Macromedia Authorware and Director.

            <h4 class="mt-4 font-bold">Key Features:</h4>
            <ul class="list-disc list-inside">
                <li>Mobile friendly</li>
                <li>Responsive</li>
                <li>CMS</li>
            </ul>

            <h4 class="mt-4 font-bold">Core Skills:</h4>
            HTML, CSS, JavaScript, ASP.Net, SQL, CMS.

            <p class="mt-4">
                <strong>Link: </strong>
                <a href="https://www.tmsdi.com" target="_blank">https://www.tmsdi.com</a>
            </p>

            <hr class="my-6 lg:my-12" />

            <h4 class="mt-10 mb-4 font-bold">Wireframing</h4>
            <div class="grid grid-cols-4 gap-4 mt-8">
                <img src="assets/images/tmsdi-1.jpg" alt="TMSDI" />
                <img src="assets/images/tmsdi-2.jpg" alt="TMSDI" />
                <img src="assets/images/tmsdi-3.jpg" alt="TMSDI" />
                <img src="assets/images/tmsdi-4.jpg" alt="TMSDI" />
            </div>

            <h4 class="mt-10 mb-4 font-bold">Training Materials using Macromedia Director</h4>
            <div class="grid grid-cols-4 gap-4 mt-8">
                <img src="assets/images/tmsdi-11.gif" alt="TMSDI" />
                <img src="assets/images/tmsdi-12.gif" alt="TMSDI" />
                <img src="assets/images/tmsdi-13.gif" alt="TMSDI" />
                <img src="assets/images/tmsdi-14.gif" alt="TMSDI" />
            </div>
        </td>
    </tr>

    <tr id="icf" class="font-bold">
        <td nowrap class="hidden xl:block">2003</td>
        <td nowrap>ICF</td>
        <td>IMG Media (TWIi)</td>
        <td class="text-right hidden xl:block">Classic ASP</td>
    </tr>
    <tr>
        <td class="hidden xl:block"></td>
        <td colspan="3" class="pb-24">
            Interactive Content Factory (ICF) - CMS for creating interactive content for clients. A revolutionary
            end-to-end media asset management system for broadcasters. Video was streamed into the building and
            delivered to a central system where editors could cut and paste clips and then re-encode them ready to be
            pushed out to mobile portals.

            <h4 class="mt-4 font-bold">Key Features:</h4>
            <ul class="list-disc list-inside">
                <li>Video streaming</li>
                <li>Cut and paste video clips</li>
                <li>Re-encoding</li>
                <li>Live editing and preview</li>
            </ul>

            <h4 class="mt-4 font-bold">Core Skills:</h4>
            HTML, CSS, JavaScript, Classic ASP, SQL, Video, CMS.
        </td>
    </tr>

    <tr id="fidelity" class="font-bold">
        <td nowrap class="hidden xl:block">1999 - 2001</td>
        <td nowrap>Intranet</td>
        <td>Fidelity Investments</td>
        <td class="text-right hidden xl:block">Classic ASP, .Net, SQL Server</td>
    </tr>
    <tr>
        <td class="hidden xl:block"></td>
        <td colspan="3" class="pb-24">
            The team were responsible for creating and managing over 100 internal websites for 1000's of employees
            throughout Europe. Sites were initially built using just HTML, JavaScript and Classic ASP, and later moved
            to .Net and SQL Server. Many of the ites had a custom CMS so users could manage content, all of them used
            Authentication & Authorisation.

            <h4 class="mt-4 font-bold">Example Sites:</h4>
            <ul class="list-disc list-inside">
                <li>Online HR surveys & reports</li>
                <li>Document repositories</li>
                <li>Booking system for IT training courses</li>
                <li>Graduate recruitment site (public)</li>
                <li>Career development toolkit</li>
                <li>Sandwich ordering system</li>
                <li>Meeting room calendar / reservations</li>
            </ul>

            <h4 class="mt-4 font-bold">Core Skills:</h4>
            HTML, CSS, JavaScript, Classic ASP, ASP.Net (VB), SQL, CMS, Intranet, Documentation, Finance.

            <hr class="my-6 lg:my-12" />

            <h4 class="mt-10 mb-4 font-bold">Retro design alert!</h4>

            <div class="grid grid-cols-2 lg:grid-cols-3 gap-4 mt-8">
                <img src="assets/images/fidelity-4.gif" alt="Fidelity Investments" />
                <img src="assets/images/fidelity-6.gif" alt="Fidelity Investments" />
                <img src="assets/images/fidelity-7.gif" alt="Fidelity Investments" />
                <img src="assets/images/fidelity-2.gif" alt="Fidelity Investments" />
                <img src="assets/images/fidelity-5.gif" alt="Fidelity Investments" />
                <img src="assets/images/fidelity-3.gif" alt="Fidelity Investments" />
            </div>
        </td>
    </tr>

    <tr id="barclays" class="font-bold">
        <td nowrap class="hidden xl:block">1999</td>
        <td nowrap>Multiple Projects</td>
        <td>Barclays</td>
        <td class="text-right hidden xl:block">HTML, CSS, JavaScript, Perl</td>
    </tr>
    <tr>
        <td class="hidden xl:block"></td>
        <td colspan="3" class="pb-24">
            <p>
                Worked as a member of the multi-media division that designed and built all of Barclay's internet and
                intranet sites. Some of the things I built, and was responsible for are listed below:
            </p>

            <h4 class="mt-4 font-bold">Example projects:</h4>
            <ul class="list-disc list-inside">
                <li>Maintaining over 3000 pages on the personal & business portals</li>
                <li>Building the front-end for their first internet banking app</li>
                <li>Building "Quote & Buy" apps for home, pet, travel, and car insurance</li>
                <li>Building forms for BarclayLoan and BarclayCard applications</li>
                <li>Building the UK's first ISA launch marketing site</li>
                <li>Creating and maintaining multiple intranet sites</li>
            </ul>

            <h4 class="mt-4 font-bold">Core Skills:</h4>
            HTML, CSS, JavaScript, Perl, CGI.

            <hr class="my-6 lg:my-12" />

            <h4 class="mt-10 font-bold">Barclays Internet Banking App</h4>
            <div class="grid grid-cols-5 gap-4 mt-8">
                <img src="assets/images/barclays-ibank-1.gif" alt="Barclays Internet Banking App" />
                <img src="assets/images/barclays-ibank-3.gif" alt="Barclays Internet Banking App" />
                <img src="assets/images/barclays-ibank-4.gif" alt="Barclays Internet Banking App" />
                <img src="assets/images/barclays-ibank-5.gif" alt="Barclays Internet Banking App" />
                <img src="assets/images/barclays-ibank-6.gif" alt="Barclays Internet Banking App" />
            </div>

            <h4 class="mt-10 font-bold">ISA Launch Site</h4>
            <div class="grid grid-cols-5 gap-4 mt-8">
                <img src="assets/images/barclays-isa-1.gif" alt="Barclays ISA Launch Site" />
                <img src="assets/images/barclays-isa-2.gif" alt="Barclays ISA Launch Site" />
                <img src="assets/images/barclays-isa-3.gif" alt="Barclays ISA Launch Site" />
                <img src="assets/images/barclays-isa-4.gif" alt="Barclays ISA Launch Site" />
                <img src="assets/images/barclays-isa-5.gif" alt="Barclays ISA Launch Site" />
            </div>

            <h4 class="mt-10 font-bold">Business Portal</h4>
            <div class="grid grid-cols-4 gap-4 mt-8">
                <img src="assets/images/barclays-bus-1.gif" alt="Barclays Business Portal" />
                <img src="assets/images/barclays-bus-2.gif" alt="Barclays Business Portal" />
                <img src="assets/images/barclays-bus-3.gif" alt="Barclays Business Portal" />
                <img src="assets/images/barclays-bus-4.gif" alt="Barclays Business Portal" />
            </div>

            <h4 class="mt-10 font-bold">Personal Portal</h4>
            <div class="grid grid-cols-6 gap-4 mt-8">
                <img src="assets/images/barclays-pers-1.gif" alt="Barclays Personal Portal" />
                <img src="assets/images/barclays-pers-2.gif" alt="Barclays Personal Portal" />
                <img src="assets/images/barclays-pers-3.gif" alt="Barclays Personal Portal" />
                <img src="assets/images/barclays-pers-4.gif" alt="Barclays Personal Portal" />
                <img src="assets/images/barclays-pers-5.gif" alt="Barclays Personal Portal" />
                <img src="assets/images/barclays-pers-6.gif" alt="Barclays Personal Portal" />
            </div>

            <h4 class="mt-10 font-bold">Car Insurance App</h4>
            <div class="grid grid-cols-6 gap-4 mt-8">
                <img src="assets/images/barclays-car-1.gif" alt="Barclays Car Insurance App" />
                <img src="assets/images/barclays-car-2.gif" alt="Barclays Car Insurance App" />
                <img src="assets/images/barclays-car-3.gif" alt="Barclays Car Insurance App" />
                <img src="assets/images/barclays-car-4.gif" alt="Barclays Car Insurance App" />
                <img src="assets/images/barclays-car-5.gif" alt="Barclays Car Insurance App" />
                <img src="assets/images/barclays-car-6.gif" alt="Barclays Car Insurance App" />
            </div>
        </td>
    </tr>
</table>
