<div class="text-center md:w-3/4 lg:w-2/3 xl:w-3/5 mx-auto">
    <span class="font-playwrite text-1xl"> Hi! My name is</span>
    <br />
    <span class="font-playwrite mt-5 text-5xl xl:text-7xl text-amber-600">Jason Hick</span>

    <p class="mt-12">
        I'm a software engineer that specialises in building front-end applications. I've beeen using Angular for the
        past 10 years and I love it! I'm currently learning Python and updating my full-stack skills whilst looking for
        my next opportunity.
    </p>

    <p class="my-12">
        <a
            [routerLink]="['/about']"
            class="p-3 bg-indigo-100 rounded-md no-underline hover:bg-indigo-300 hover:drop-shadow-md active:bg-indigo-800 active:text-white"
        >
            Read more
        </a>
    </p>

    <hr class="my-8" />
    <span class="font-playwrite text-2xl xl:text-4xl mb-8 text-amber-600">Core Skills</span>
    <p class="leading-6">
        Angular, TypeScript, JavaScript, HTML, CSS/SCSS.
        <br class="hidden sm:block" />
        Agile, Scrum, Jira, Git, Confluence, BitBucket, Jira.
    </p>

    <hr class="my-8" />
    <span class="font-playwrite text-2xl xl:text-4xl mb-8 text-amber-600">Recommendations</span>

    <p>
        You can rely on Jason to be a friendly, pragmatic and approachable team member. He can bridge the gap between
        technical and business functions and can explain complicated topics well to both engineers and non-engineers in
        a concise and simple manner. He consistently went above and beyond in his duties and was someone you could
        always count on to be comfortable in driving, and contribute to, discussions and suggest alternative approaches.
    </p>
    <p class="font-playwrite italic mt-6">James Wright, Tech Lead, Direct Line Group.</p>

    <hr class="my-8" />

    <p>
        Jason is a hugely experienced, kick arse Senior Front End Developer. His eye never leaves the ball on all
        aspects of the project, which makes him a great team asset for keeping things on track and highlighting critical
        path priorities. Also, a genuinely nice guy to work with.
    </p>
    <p class="font-playwrite italic mt-6">Jamie Kemp, Tech Lead, Macquarie Group.</p>

    <hr class="my-8" />

    <p>
        I had the pleasure of working with Jason during the complete re-skin of the Charles Tyrwhitt e-commerce website,
        and his contributions were outstanding. He played an instrumental role in driving the project forward. Jason's
        technical skills are incredibly strong, and his ability to solve complex problems efficiently significantly
        impacted the project. Beyond his technical expertise, Jason is a highly collaborative team member and would be
        an asset to any organization.
    </p>
    <p class="font-playwrite italic mt-6">Ademar Gomes, Lead Developer, Charles Tyrwhitt.</p>

    <hr class="mt-8 mb-12" />

    <p>
        <a
            href="https://www.linkedin.com/in/jasonhick"
            target="_blank"
            class="p-3 bg-indigo-100 rounded-md no-underline hover:bg-indigo-300 hover:drop-shadow-md active:bg-indigo-800 active:text-white"
        >
            View all recommendations
        </a>
    </p>
</div>
