<span class="font-playwrite text-4xl md:text-5xl mb-8 text-amber-600">Places I've worked</span>

<table class="w-full my-12">
    <tr>
        <th class="text-left">Date</th>
        <th>Company</th>
        <th class="hidden md:block">Position</th>
    </tr>
    <tr>
        <td nowrap>Nov 22 - Jun 24</td>
        <td>
            <a [routerLink]="['/projects']" fragment="mycro">Direct Line Group</a>
        </td>
        <td class="hidden md:block">UI Engineer</td>
    </tr>
    <tr>
        <td>Sep 21 - Jul 22</td>
        <td>
            <a [routerLink]="['/projects']" fragment="vanguard">Vanguard</a>
        </td>
        <td class="hidden md:block">Angular Developer</td>
    </tr>
    <tr>
        <td>Feb 18 - Jun 21</td>
        <td>
            <a [routerLink]="['/projects']" fragment="servicing">Direct Line Group</a>
        </td>
        <td class="hidden md:block">UI Engineer</td>
    </tr>
    <tr>
        <td>Oct 17 - Feb 18</td>
        <td>
            <a [routerLink]="['/projects']" fragment="charles">Charles Tyrwhitt</a>
        </td>
        <td class="hidden md:block">Front-end Developer</td>
    </tr>
    <tr>
        <td>Apr 17 - Sep 17</td>
        <td>House renovation</td>
        <td class="hidden md:block">Builder!</td>
    </tr>
    <tr>
        <td>Mar 14 - Mar 17</td>
        <td>
            <a [routerLink]="['/projects']" fragment="brand-partners">Direct Line Group</a>
        </td>
        <td class="hidden md:block">UI Engineer</td>
    </tr>
    <tr>
        <td>Nov 13 - Mar 14</td>
        <td>
            <a [routerLink]="['/projects']" fragment="mergermarket">Mergermarket</a>
        </td>
        <td class="hidden md:block">Full Stack Developer</td>
    </tr>
    <tr>
        <td>Feb 13 - Nov 13</td>
        <td>Career break</td>
        <td class="hidden md:block"></td>
    </tr>
    <tr>
        <td>Apr 00 - Feb 13</td>
        <td>
            <a [routerLink]="['/projects']" fragment="needapresent">Needapresent.com</a>
        </td>
        <td class="hidden md:block">Full Stack Developer</td>
    </tr>
    <tr>
        <td>Oct 13 - Nov 13</td>
        <td>
            <a [routerLink]="['/projects']" fragment="domusnova">Studio N3rd</a>
        </td>
        <td class="hidden md:block">Full Stack Developer</td>
    </tr>
    <tr>
        <td>Jan 13 - Jun 13</td>
        <td>
            <a [routerLink]="['/projects']" fragment="tmsdi">TMSDI</a>
        </td>
        <td class="hidden md:block">Full Stack Developer</td>
    </tr>
    <tr>
        <td>Mar 03 - Sep 03</td>
        <td>
            <a [routerLink]="['/projects']" fragment="icf">IMG Media</a>
        </td>
        <td class="hidden md:block">Full Stack Developer</td>
    </tr>
    <tr>
        <td>Apr 99 - Oct 01</td>
        <td>
            <a [routerLink]="['/projects']" fragment="fidelity">Fidelity Investments</a>
        </td>
        <td class="hidden md:block">Senior Full Stack Developer</td>
    </tr>
    <tr>
        <td>Oct 98 - Apr 99</td>
        <td>
            <a [routerLink]="['/projects']" fragment="barclays">Barclays</a>
        </td>
        <td class="hidden md:block">Front-End Developer</td>
    </tr>
</table>
