<span class="font-playwrite text-4xl md:text-5xl mb-8 text-amber-600">Places I've worked</span>

<table class="w-full my-12">
    <tr>
        <th class="text-center sm:text-left">Date</th>
        <th>Company</th>
        <th class="hidden md:block">Position</th>
    </tr>
    <tr>
        <td class="text-center sm:text-left">
            Nov 22
            <br class="sm:hidden" />
            - <br class="sm:hidden" />
            Jun 24
        </td>
        <td>
            <a [routerLink]="['/projects']" fragment="mycro">Direct Line Group (Green Flag)</a>
        </td>
        <td class="hidden md:block">UI Engineer</td>
    </tr>
    <tr>
        <td class="text-center sm:text-left">
            Sep 21
            <br class="sm:hidden" />
            - <br class="sm:hidden" />
            Jul 22
        </td>
        <td>
            <a [routerLink]="['/projects']" fragment="vanguard">Vanguard</a>
        </td>
        <td class="hidden md:block">Angular Developer</td>
    </tr>
    <tr>
        <td class="text-center sm:text-left">
            Feb 18
            <br class="sm:hidden" />
            - <br class="sm:hidden" />
            Jun 21
        </td>
        <td>
            <a [routerLink]="['/projects']" fragment="servicing">Direct Line Group (Green Flag)</a>
        </td>
        <td class="hidden md:block">UI Engineer</td>
    </tr>
    <tr>
        <td class="text-center sm:text-left">
            Oct 17
            <br class="sm:hidden" />
            - <br class="sm:hidden" />
            Feb 18
        </td>
        <td>
            <a [routerLink]="['/projects']" fragment="charles">Charles Tyrwhitt</a>
        </td>
        <td class="hidden md:block">Front-end Developer</td>
    </tr>
    <tr>
        <td class="text-center sm:text-left">
            Apr 17
            <br class="sm:hidden" />
            - <br class="sm:hidden" />
            Sep 17
        </td>
        <td>Personal project - House renovation</td>
        <td class="hidden md:block">Builder!</td>
    </tr>
    <tr>
        <td class="text-center sm:text-left">
            Mar 14
            <br class="sm:hidden" />
            - <br class="sm:hidden" />
            Mar 17
        </td>
        <td>
            <a [routerLink]="['/projects']" fragment="brand-partners">Direct Line Group Digital</a>
        </td>
        <td class="hidden md:block">UI Engineer</td>
    </tr>
    <tr>
        <td class="text-center sm:text-left">
            Nov 13
            <br class="sm:hidden" />
            - <br class="sm:hidden" />
            Mar 14
        </td>
        <td>
            <a [routerLink]="['/projects']" fragment="mergermarket">Mergermarket</a>
        </td>
        <td class="hidden md:block">Full Stack Developer</td>
    </tr>
    <tr>
        <td class="text-center sm:text-left">
            Feb 13
            <br class="sm:hidden" />
            - <br class="sm:hidden" />
            Nov 13
        </td>
        <td>Career break</td>
        <td class="hidden md:block"></td>
    </tr>
    <tr>
        <td class="text-center sm:text-left">
            Apr 00
            <br class="sm:hidden" />
            - <br class="sm:hidden" />
            Feb 13
        </td>
        <td>
            <a [routerLink]="['/projects']" fragment="needapresent">Needapresent.com</a>
        </td>
        <td class="hidden md:block">Full Stack Developer</td>
    </tr>
    <tr>
        <td class="text-center sm:text-left">
            Oct 13
            <br class="sm:hidden" />
            - <br class="sm:hidden" />
            Nov 13
        </td>
        <td>
            <a [routerLink]="['/projects']" fragment="domusnova">Studio N3rd</a>
        </td>
        <td class="hidden md:block">Full Stack Developer</td>
    </tr>
    <tr>
        <td class="text-center sm:text-left">
            Jan 13
            <br class="sm:hidden" />
            - <br class="sm:hidden" />
            Jun 13
        </td>
        <td>
            <a [routerLink]="['/projects']" fragment="tmsdi">TMSDI</a>
        </td>
        <td class="hidden md:block">Full Stack Developer</td>
    </tr>
    <tr>
        <td class="text-center sm:text-left">
            Mar 03
            <br class="sm:hidden" />
            - <br class="sm:hidden" />
            Sep 03
        </td>
        <td>
            <a [routerLink]="['/projects']" fragment="icf">IMG Media</a>
        </td>
        <td class="hidden md:block">Full Stack Developer</td>
    </tr>
    <tr>
        <td class="text-center sm:text-left">
            Apr 99
            <br class="sm:hidden" />
            - <br class="sm:hidden" />
            Oct 01
        </td>
        <td>
            <a [routerLink]="['/projects']" fragment="fidelity">Fidelity Investments</a>
        </td>
        <td class="hidden md:block">Senior Full Stack Developer</td>
    </tr>
    <tr>
        <td class="text-center sm:text-left">
            Oct 98
            <br class="sm:hidden" />
            - <br class="sm:hidden" />
            Apr 99
        </td>
        <td>
            <a [routerLink]="['/projects']" fragment="barclays">Barclays</a>
        </td>
        <td class="hidden md:block">Front-End Developer</td>
    </tr>
</table>
