<span class="font-playwrite text-4xl md:text-5xl mb-8 text-amber-600">About me</span>

<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div>
        <p>
            Hi! I'm Jason, a frontend developer who's all about clean, efficient code and making sure things just work.
            I've spent years working with JavaScript, HTML, CSS, and Angular, turning designs into reality and ensuring
            everything runs smoothly. I'm all for building solid, reliable interfaces that get the job done right.
        </p>

        <p>
            I started back when Netscape Navigator was still a thing (yes, I know!), and over the years I've had the
            chance to work with some amazing teams at Barclays, Fidelity Investments, Vanguard, Charles Tyrwhitt, Direct
            Line Group, and more. I set up an ecommerce business that ran for 12 years, have integrated countless APIs,
            re-branded websites, upgraded legacy apps, and built new ones from the ground up.
        </p>

        <p>
            I've loved every minute of the journey so far. When I'm not buried in code, you'll find me in the garden, on
            a yoga mat, or hanging out with Oscar (the cat). I've also just launched a blog (or rather Oscar has!) to
            share what we've learned over the years and to hopefully add a bit of humour to this very dry subject!
        </p>
    </div>

    <div class="md:row-span-2">
        <img
            src="/assets/images/jason-garden.jpeg"
            alt="Jason in the garden"
            class="border-8 border-neutral-50 drop-shadow-md rounded-lg w-1/2 -rotate-3 float-left"
        />
        <img
            src="/assets/images/oscar-woods.jpeg"
            alt="Oscar in the woods"
            class="border-8 border-neutral-50 drop-shadow-md rounded-lg w-1/2 rotate-6 relative right-6 top-10"
        />
    </div>

    <div>
        <p>
            <span class="font-playwrite text-2xl xl:text-4xl mb-8 text-amber-600">Get in touch</span>

            <br />Find me on <a routerLink="void()" href="https://www.linkedin.com/in/jasonhick/">LinkedIn</a>
            or give me a shout on +44 (0) 7974 160568.
        </p>
    </div>
</div>
